<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的dao/mapper接口-->
<mapper namespace="cn.cuitrwx.commonproblemsService.dao.userdao">

    <select id="getProblem"  resultType="cn.cuitrwx.commonproblemsService.model.problem">
        select * from cuitrwx.common_problems where id = #{id}
    </select>
    <select id="getAllProblem"  resultType="cn.cuitrwx.commonproblemsService.model.problem">
        select * from cuitrwx.common_problems
    </select>
</mapper>