<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的dao/mapper接口-->
<mapper namespace="cn.cuitrwx.database.dao.AppointmentDao">

    <resultMap type="cn.cuitrwx.database.model.AppointmentPO" id="AppointmentMap">
        <id property="id" column="id" />
        <result property="openid" column="openid" />
        <result property="matter" column="matter" />
        <result property="comment" column="comment" />
        <result property="status" column="status" />
        <result property="requestDate" column="request_date" />
        <result property="ensureTime" column="ensure_Time" />
    </resultMap>

    <select id="getAppointment"  resultMap="AppointmentMap">
        select * from cuitrwx.appointment where id = #{id}
    </select>

    <select id="getAppointments" resultMap="AppointmentMap">
        select * from cuitrwx.appointment  order by id  desc  limit #{start},#{total}
    </select>

    <insert id="postAppointment" parameterType="cn.cuitrwx.database.model.AppointmentPO">
        insert into cuitrwx.appointment(openid, matter,request_date)
        values(#{openid},#{matter},#{requestDate})
    </insert>

    <update id="putAppointment" parameterType="cn.cuitrwx.database.model.AppointmentPO">
        update cuitrwx.appointment 
        <trim prefix="set" suffixOverrides=",">
            <if test="comment != null">comment=#{comment},</if>
            <if test="status != null">status=#{status},</if>
            <if test="ensureTime != null">ensure_time=#{ensureTime},</if>
        </trim> 
        where id = #{id}
    </update>

</mapper>

