<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的dao/mapper接口-->
<mapper namespace="cn.cuitrwx.database.dao.ArticleUserDao">

    <select id="getArticle"  resultType="cn.cuitrwx.database.model.Article">
        select * from cuitrwx.article where articleid = #{articleid}
    </select>

    <select id="getAllArticle"  resultType="cn.cuitrwx.database.model.Article">
        select * from cuitrwx.article
    </select>

    <insert id="postArticle" parameterType="cn.cuitrwx.database.model.Article">
        insert into cuitrwx.article(articleid, title, content, status, author,createTime, deployTime, modifyTime)
        values(#{articleid},#{title},#{content},
        #{status},#{author},#{createTime},
        #{deployTime},#{modifyTime})
    </insert>

    <update id="deleteArticle">
        update cuitrwx.article set status = 0 where articleid = #{articleid}
    </update>

    <update id="putArticle" parameterType="cn.cuitrwx.database.model.UpdateArticle">
        update cuitrwx.article set title = #{title},content = #{content}, author = #{author}, modifyTime = #{modifyTime} where articleid = #{articleid}
    </update>
</mapper>