<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的dao/mapper接口-->
<mapper namespace="cn.cuitrwx.database.dao.ProgramUserDao">

    <select id="getProgram"  resultType="cn.cuitrwx.database.model.Program">
        select * from cuitrwx.study_abroad_type where overseas_study_id = #{overseas_study_id}
    </select>
    <select id="getAllProgram"  resultType="cn.cuitrwx.database.model.Program">
        select * from cuitrwx.study_abroad_type
    </select>
</mapper>