<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的dao/mapper接口-->
<mapper namespace="cn.cuitrwx.database.dao.ProgramDao">

    <resultMap type="cn.cuitrwx.database.model.ProgramPO" id="ProgramMap">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="description" column="description" />
        <result property="detail" column="detail" />
        <result property="score" column="score" />
        <result property="time" column="time" />
        <result property="requirement" column="requirement" />
    </resultMap>
    <select id="getPrograms" resultMap="ProgramMap" >
        select * from cuitrwx.program  where is_deleted = false
    </select>
    <update id="putProgram"  parameterType="cn.cuitrwx.database.model.ProgramPO"> 
        update cuitrwx.program 
            <trim prefix="set" suffixOverrides=",">
                <if test="title != null">title=#{title},</if>
                <if test="description != null">description=#{description},</if>
                <if test="detail != null">detail=#{detail},</if>
                <if test="score != null">score=#{score},</if>
                <if test="time != null">time=#{time},</if>
                <if test="requirement != null">requirement=#{requirement},</if>
            </trim> 
            where id=#{id} and is_deleted = false
    </update>
    <update id="deleteProgram" > 
        update cuitrwx.program 
        set is_deleted = true
        where id=#{id} and is_deleted = false
    </update>
    <insert id="postProgram" parameterType="cn.cuitrwx.database.model.ProgramPO">         
    insert into cuitrwx.program(title, description, detail,score,time,requirement)
        values(#{title}, #{description}, #{detail},#{score},#{time},#{requirement})
    </insert>
</mapper>