<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的dao/mapper接口-->
<mapper namespace="cn.cuitrwx.database.dao.QuestionDao">


    <select id="getQuestions"  resultType="cn.cuitrwx.database.model.QuestionPO">
        select * from cuitrwx.question where  is_deleted = false order by id  desc  
    </select>

    <insert id="postQuestion" parameterType="cn.cuitrwx.database.model.QuestionPO">
        insert into cuitrwx.question(question, answer)
        values(#{question},#{answer})
    </insert>

    <update id="deleteQuestion">
        update cuitrwx.question set is_deleted = true where id = #{id} and is_deleted = false
    </update>

    <update id="putQuestion" parameterType="cn.cuitrwx.database.model.QuestionPO">
        update cuitrwx.question 
        <trim prefix="set" suffixOverrides=",">
            <if test="question != null">question=#{question},</if>
            <if test="answer != null">answer=#{answer},</if>
        </trim> 
        where id = #{id} and is_deleted = false
    </update>
</mapper>