<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的dao/mapper接口-->
<mapper namespace="cn.cuitrwx.database.dao.SlideDao">
    <resultMap type="cn.cuitrwx.database.model.SlidePO" id="SlidePO">
        <id property="id" column="id" />
        <result property="type" column="type" />
        <result property="src" column="src" />
        <result property="articalId" column="artical_id" />
        <result property="href" column="href" />
    </resultMap>
    <select id="getSlides" resultMap="SlidePO" >
        select * from cuitrwx.slide  where is_delete = false
    </select>
    <select id="getDeletedSlides" resultMap="SlidePO" >
        select * from cuitrwx.slide  where is_delete = true
    </select>
    <update id="postSlide"  parameterType="cn.cuitrwx.database.model.SlidePO"> 
        update cuitrwx.slide 
            <trim prefix="set" suffixOverrides=",">
                <if test="type != null">type=#{type},</if>
                <if test="src != null">src=#{src},</if>
                <if test="articalId != null">artical_id=#{articalId},</if>
                <if test="href != null">href=#{href},</if>
            </trim> 
            where id=#{id} and is_delete = false
    </update>
    <update id="deleteSlide" > 
        update cuitrwx.slide 
        set is_delete = true
        where id=#{id} and is_delete = false
    </update>
    <update id="restoreSlide" > 
        update cuitrwx.slide 
        set is_delete = false
        where id=#{id} and is_delete = true
    </update>
    <insert id="putSlide" parameterType="cn.cuitrwx.database.model.SlidePO"> 
      insert into 
        cuitrwx.slide (type, src, artical_id,href) 
      values(#{type},#{src},#{articalId},#{href})
    </insert>

</mapper>