<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的dao/mapper接口-->
<mapper namespace="cn.cuitrwx.database.dao.StudyAbroadUserDao">

    <select id="getStudent"  resultType="cn.cuitrwx.database.model.StudyAbroad">
        select * from cuitrwx.overseas_study where id = #{studentid}
    </select>

    <insert id="postStudent" parameterType="cn.cuitrwx.database.model.StudyAbroad">
        insert into cuitrwx.overseas_study(id, name, reason, createtime, tel, status,overseas_study_id)
        values(#{studentid},#{name},#{reason},
        #{createTime},#{tel},#{status},#{overseas_study_id} )
    </insert>

    <update id="deleteStudent">
        update cuitrwx.overseas_study set status = 0 where id = #{studentid}
    </update>

    <update id="putStudent" parameterType="cn.cuitrwx.database.model.StudyAbroad">
        update cuitrwx.overseas_study set status = #{status}, tel = #{tel},name = #{name}, reason = #{reason},
        createtime = #{createTime},overseas_study_id = #{overseas_study_id} where id = #{studentid}
    </update>
</mapper>